<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition
	template="/views/learning-1.1.0/html/website-student-layout.xhtml">
	<ui:define name="pageContent">
    <div class="container">
      <div class="page-section">
        <div class="row">
          <div class="col-md-9">
            <!-- Tabbable Widget -->
            <div class="tabbable paper-shadow relative">
              <!-- Tabs -->
              <ul class="nav nav-tabs">
                <li>
                  <a href="website-student-profile.html"><i
                  class="fa fa-fw fa-lock"></i> <span class="hidden-sm hidden-xs">Manage
                  Account</span></a>
                </li>
                <li class="active">
                  <a href="website-student-billing.html"><i
                  class="fa fa-fw fa-credit-card"></i> <span
                  class="hidden-sm hidden-xs">Billing Details</span></a>
                </li>
              </ul>
              <!-- // END Tabs -->
              <!-- Panes -->
              <div class="tab-content">
                <div id="billing" class="tab-pane active">
                  <form action="#" class="form-horizontal">
                    <div class="form-group">
                      <label for="name" class="col-md-2 control-label">Name on
                      Invoice</label>
                      <div class="col-md-6">
                        <div class="form-control-material">
                          <input type="text" class="form-control used" id="name"
                          value="Adrian Demian" /> <label for="name">Name on
                          Invoice</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="address" class="col-md-2 control-label">Address</label>
                      <div class="col-md-6">
                        <div class="form-control-material">
                          <textarea class="form-control used" id="address"
                          rows="" cols="">Sunny Street 21, MI</textarea> <label
                          for="address">Address</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="country" class="col-md-2 control-label">Country</label>
                      <div class="col-md-6">
                        <select id="country" class="width-100">
                        <option value="1" selected="selected">
                          USA
                        </option>
                        <option value="2">
                          Country
                        </option></select>
                      </div>
                    </div>
                    <div class="form-group margin-bottom-none">
                      <div class="col-md-offset-2 col-md-10">
                        <button type="submit"
                        class="btn btn-success paper-shadow relative">Update
                        Billing</button>
                      </div>
                    </div>
                  </form>
                  <hr />
                  <div class="media v-middle s-container">
                    <div class="media-body">
                      <h5 class="text-subhead">
                        Payment details
                      </h5>
                    </div>
                    <div class="media-right">
                      <a href="#modal-update-credit-card"
                      class="btn btn-white paper-shadow relative">Add Credit
                      Card</a>
                    </div>
                  </div>
                  <div class="list-group margin-none">
                    <div class="list-group-item media v-middle">
                      <div class="media-left">
                        <div class="icon-block half img-circle bg-primary">
                          <i class="fa fa-credit-card"></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h4 class="text-title media-heading">
                          <a href="#modal-update-credit-card"
                          class="link-text-color">**** **** **** 2422</a>
                        </h4>
                        <div class="text-caption">
                          updated 1 month ago
                        </div>
                      </div>
                      <div class="media-right">
                        <a href="#modal-update-credit-card"
                        class="btn btn-white btn-flat"><i
                        class="fa fa-pencil fa-fw"></i> Edit</a>
                      </div>
                    </div>
                    <div class="list-group-item media v-middle">
                      <div class="media-left">
                        <div class="icon-block half img-circle bg-grey-100 text-light">
                          <i class="fa fa-credit-card"></i>
                        </div>
                      </div>
                      <div class="media-body">
                        <h4 class="text-title media-heading">
                          <a href="#modal-update-credit-card"
                          class="link-text-color">**** **** **** 3365</a>
                        </h4>
                        <div class="text-caption">
                          updated 1 year ago
                        </div>
                      </div>
                      <div class="media-right">
                        <a href="#modal-update-credit-card"
                        class="btn btn-white btn-flat"><i
                        class="fa fa-pencil fa-fw"></i> Edit</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- // END Panes -->
            </div>
            <!-- // END Tabbable Widget -->
            <div class="modal grow modal-backdrop-white fade" id="modal-update-credit-card">
              <div class="modal-dialog modal-sm">
                <div class="v-cell">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close"><span>&times;</span><span
                      class="sr-only">Close</span></button>
                      <h4 class="modal-title">
                        Update Credit Card
                      </h4>
                    </div>
                    <div class="modal-body">
                      <form action="">
                        <div class="form-group form-control-material">
                          <input type="text" class="form-control"
                          id="credit-card" /> <label for="credit-card">Credit
                          Card</label>
                        </div>
                        <div class="form-group">
                          <label for="exp">Expiration Date:</label> <br />
                          <select id="exp">
                          <option value="1" selected="selected">
                            January
                          </option>
                          <option value="2">
                            February
                          </option>
                          <option value="3">
                            March
                          </option>
                          <option value="4">
                            April
                          </option>
                          <option value="5">
                            May
                          </option>
                          <option value="6">
                            June
                          </option>
                          <option value="7">
                            July
                          </option>
                          <option value="8">
                            August
                          </option>
                          <option value="9">
                            September
                          </option>
                          <option value="10">
                            October
                          </option>
                          <option value="11">
                            November
                          </option>
                          <option value="12">
                            December
                          </option></select>
                          <select>
                          <option value="2015" selected="selected">
                            2015
                          </option>
                          <option value="2016">
                            2016
                          </option>
                          <option value="2017">
                            2017
                          </option>
                          <option value="2018">
                            2018
                          </option>
                          <option value="2019">
                            2019
                          </option>
                          <option value="2020">
                            2020
                          </option></select>
                        </div>
                        <div class="form-group form-control-material">
                          <input type="text" class="form-control" id="cvv" />
                          <label for="cvv">CVV</label>
                        </div>
                        <button type="submit"
                        class="btn btn-success paper-shadow relative">Update
                        Credit Card</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br /> <br />
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading panel-collapse-trigger">
                <h4 class="panel-title">
                  My Account
                </h4>
              </div>
              <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                  <li class="list-group-item">
                    <a class="link-text-color"
                    href="website-student-dashboard.html">Dashboard</a>
                  </li>
                  <li class="list-group-item">
                    <a class="link-text-color"
                    href="website-student-courses.html">My Courses</a>
                  </li>
                  <li class="list-group-item active">
                    <a class="link-text-color"
                    href="website-student-profile.html">Profile</a>
                  </li>
                  <li class="list-group-item">
                    <a class="link-text-color"
                    href="website-student-messages.html">Messages</a>
                  </li>
                  <li class="list-group-item">
                    <a class="link-text-color" href="login.html"><span>Logout</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </ui:define>
    </ui:composition>
</html>
