 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/views/learning-1.1.0/html/website-student-course-layout.xhtml">
        <ui:define name="courseContent">
          <div class="col-md-9">
            <h:form>
            <div class="panel panel-default curriculum open paper-shadow">
              <div class="panel-heading panel-heading-gray">
                <div class="media">
                  <div class="media-left">
                    <span
                    class="icon-block img-circle bg-indigo-300 half text-white"><i
                    class="fa fa-graduation-cap"></i></span>
                  </div>
                  <div class="media-body">
                    <h4 class="text-headline">
                      <h:outputText value="#{chapterView.chapter.title}" />
                    </h4>
                    <p>
                      <h:outputText value="#{chapterView.chapter.body}" />
                    </p>
                  </div>
                </div>
                <span class="collapse-status collapse-open">Open</span> <span
                class="collapse-status collapse-close">Close</span>
              </div>
              <div class="list-group collapse in" id="curriculum-1">
                
              </div>
            </div>
			</h:form>
          </div>
          </ui:define>
   </ui:composition>
</html>
