<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition
	template="/views/learning-1.1.0/html/website-student-layout.xhtml">
	<ui:define name="pageContent">
		<div class="container">
			<div class="page-section">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="item col-xs-12 col-lg-6">
								<div class="panel panel-default paper-shadow">
									<div class="panel-heading">
										<h4 class="text-headline margin-none">Courses</h4>
										<p class="text-subhead text-light">Your recent courses</p>
									</div>
									<h:form>
									<ul class="list-group">
										<ui:repeat var="course" value="#{studentView.student.courses}">
											<li class="list-group-item media v-middle">
												<div class="media-body">
													<h:commandLink action="#{courseView.loadCourse(course.id)}"
													class="text-subhead list-group-link" value="#{course.title}"></h:commandLink>
												</div>
												<div class="media-right">
													<div class="progress progress-mini width-100 margin-none">
														<div class="progress-bar progress-bar-green-300"
															style="width: 100%;"></div>
													</div>
												</div>
											</li>
										</ui:repeat>
									</ul>
									<div class="panel-footer text-right">
										<a href="website-student-courses.html"
											class="btn btn-white paper-shadow relative"> View all</a>
									</div>
									</h:form>
								</div>
							</div>
							<div class="item col-xs-12 col-lg-6">
								<div class="panel panel-default paper-shadow">
									<div class="panel-body">
										<h4 class="text-headline margin-none">Rewards</h4>
										<p class="text-subhead text-light">Your latest
											achievements</p>
										<div class="icon-block half img-circle bg-purple-300">
											<i class="fa fa-star text-white"></i>
										</div>
										<div class="icon-block half img-circle bg-indigo-300">
											<i class="fa fa-trophy text-white"></i>
										</div>
										<div class="icon-block half img-circle bg-green-300">
											<i class="fa fa-mortar-board text-white"></i>
										</div>
										<div class="icon-block half img-circle bg-orange-300">
											<i class="fa fa-code-fork text-white"></i>
										</div>
										<div class="icon-block half img-circle bg-red-300">
											<i class="fa fa-diamond text-white"></i>
										</div>
									</div>
								</div>
								<div class="panel panel-default paper-shadow">
									<div class="panel-heading">
										<h4 class="text-headline">
											Certificates <small>(4)</small>
										</h4>
									</div>
									<div class="panel-body">
										<a
											class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative">
											<i class="fa fa-file-text"></i>
										</a> <a
											class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative">
											<i class="fa fa-file-text"></i>
										</a> <a
											class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative">
											<i class="fa fa-file-text"></i>
										</a> <a
											class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative">
											<i class="fa fa-file-text"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="item col-xs-12 col-lg-6">
								<div class="panel panel-default paper-shadow">
									<div class="panel-heading">
										<h4 class="text-headline margin-none">Quizzes</h4>
										<p class="text-subhead text-light">Your recent performance
										</p>
									</div>
									<ul class="list-group">
										<li class="list-group-item media v-middle">
											<div class="media-body">
												<h4 class="text-subhead margin-none">
													<a href="website-take-quiz.html" class="list-group-link">Title
														of quiz goes here?</a>
												</h4>
												<div class="caption">
													<span class="text-light">Course:</span> <a
														href="website-take-course.html">Basics of HTML</a>
												</div>
											</div>
											<div class="media-right text-center">
												<div class="text-display-1">5.8</div>
												<span class="caption text-light">Good</span>
											</div>
										</li>
										<li class="list-group-item media v-middle">
											<div class="media-body">
												<h4 class="text-subhead margin-none">
													<a href="website-take-quiz.html" class="list-group-link">Directives
														&amp; Routing</a>
												</h4>
												<div class="caption">
													<span class="text-light">Course:</span> <a
														href="website-take-course.html">Angular in Steps</a>
												</div>
											</div>
											<div class="media-right text-center">
												<div class="text-display-1 text-green-300">9.8</div>
												<span class="caption text-light">Great</span>
											</div>
										</li>
										<li class="list-group-item media v-middle">
											<div class="media-body">
												<h4 class="text-subhead margin-none">
													<a href="website-take-quiz.html" class="list-group-link">Responsive
														&amp; Retina</a>
												</h4>
												<div class="caption">
													<span class="text-light">Course:</span> <a
														href="website-take-course.html">Bootstrap Foundations</a>
												</div>
											</div>
											<div class="media-right text-center">
												<div class="text-display-1 text-red-300">3.4</div>
												<span class="caption text-light">Failed</span>
											</div>
										</li>
									</ul>
									<div class="panel-footer">
										<a href="website-student-quizzes.html"
											class="btn btn-primary paper-shadow relative"> Go to
											Results</a>
									</div>
								</div>
							</div>
							<div class="item col-xs-12 col-lg-6">
								<h4 class="text-headline margin-none">Forum Activity</h4>
								<p class="text-subhead text-light">Latest forum topics &amp;
									comments</p>
								<ul class="list-group relative paper-shadow">
									<li class="list-group-item paper-shadow">
										<div class="media v-middle">
											<div class="media-left">
												<a href="#"> <img src="images/people/110/guy-3.jpg"
													alt="person" class="img-circle width-40" />
												</a>
											</div>
											<div class="media-body">
												<a href="website-forum-thread.html"
													class="text-subhead link-text-color">Can someone help
													me with AngularJS?</a>
												<div class="text-light">
													Topic: <a href="website-forum-category.html">AngularJS</a>
													&nbsp; By: <a href="#">Adrian Demian</a>
												</div>
											</div>
											<div class="media-right">
												<div class="width-60 text-right">
													<span class="text-caption text-light">1 hr ago</span>
												</div>
											</div>
										</div>
									</li>
									<li class="list-group-item paper-shadow">
										<div class="media v-middle">
											<div class="media-left">
												<a href="#"> <img src="images/people/110/guy-6.jpg"
													alt="person" class="img-circle width-40" />
												</a>
											</div>
											<div class="media-body">
												<a href="website-forum-thread.html"
													class="text-subhead link-text-color">Can someone help
													me with AngularJS?</a>
												<div class="text-light">
													Topic: <a href="website-forum-category.html">AngularJS</a>
													&nbsp; By: <a href="#">Adrian Demian</a>
												</div>
											</div>
											<div class="media-right">
												<div class="width-60 text-right">
													<span class="text-caption text-light">2 hrs ago</span>
												</div>
											</div>
										</div>
									</li>
									<li class="list-group-item paper-shadow">
										<div class="media v-middle">
											<div class="media-left">
												<a href="#"> <img src="images/people/110/guy-5.jpg"
													alt="person" class="img-circle width-40" />
												</a>
											</div>
											<div class="media-body">
												<a href="website-forum-thread.html"
													class="text-subhead link-text-color">Can someone help
													me with AngularJS?</a>
												<div class="text-light">
													Topic: <a href="website-forum-category.html">AngularJS</a>
													&nbsp; By: <a href="#">Adrian Demian</a>
												</div>
											</div>
											<div class="media-right">
												<div class="width-60 text-right">
													<span class="text-caption text-light">3 hr ago</span>
												</div>
											</div>
										</div>
									</li>
									<li class="list-group-item paper-shadow">
										<div class="media v-middle">
											<div class="media-left">
												<a href="#"> <img src="images/people/110/guy-4.jpg"
													alt="person" class="img-circle width-40" />
												</a>
											</div>
											<div class="media-body">
												<a href="website-forum-thread.html"
													class="text-subhead link-text-color">Can someone help
													me with AngularJS?</a>
												<div class="text-light">
													Topic: <a href="website-forum-category.html">AngularJS</a>
													&nbsp; By: <a href="#">Adrian Demian</a>
												</div>
											</div>
											<div class="media-right">
												<div class="width-60 text-right">
													<span class="text-caption text-light">4 hr ago</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<br /> <br />
					</div>
					<div class="col-md-3">
						<h:form>
						<div class="panel panel-default">
							<div class="panel-heading panel-collapse-trigger">
								<h4 class="panel-title">My Account</h4>
							</div>
							<div class="panel-body list-group">
								<ul class="list-group list-group-menu">
									<li class="list-group-item active"><a
										class="link-text-color" href="website-student-dashboard.html">Dashboard</a>
									</li>
									<li class="list-group-item"><a class="link-text-color"
										href="website-student-courses.html">My Courses</a></li>
									<li class="list-group-item"><a class="link-text-color"
										href="website-student-profile.html">Profile</a></li>
									<li class="list-group-item"><a class="link-text-color"
										href="website-student-messages.html">Messages</a></li>
									<li class="list-group-item"><h:commandLink class="link-text-color"
									action="#{studentView.logout()}" value="Logout" />
										</li>
								</ul>
							</div>
						</div>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>