<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition
	template="/views/learning-1.1.0/html/website-student-layout.xhtml">
	<ui:define name="pageContent">
    <div class="container">
      <div class="page-section">
        <div class="row">
          <div class="col-md-9">
            <div class="media messages-container media-clearfix-xs-min media-grid">
              <div class="media-body">
              <h:form>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <h:commandButton value="Send" class="btn btn-primary" action="#{forumView.sendComment}"> <i
                      class="fa fa-envelope"></i></h:commandButton>
                    </div>
                    <!-- /btn-group -->
                    <h:inputText class="form-control share-text" value="#{forumView.forumComment.message}" />
                  </div>
                  <!-- /input-group -->
                </div>
                </h:form>
                <ui:repeat var="comment" value="#{forumView.getCommentList()}">
                <div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media v-middle">
                      <div class="media-left">
                      <h:graphicImage value="#{studentView.student.profilePictureURL}" alt="people" class="img-circle width-80"/>
                      </div>
                      <div class="media-body message">
                        <h4 class="text-subhead margin-none">
                          <a href="#"><h:outputLabel value="#{comment.sender.firstName} #{comment.sender.lastName}" /></a>
                        </h4>
                        <p class="text-caption text-light">
                          <i class="fa fa-clock-o"></i> <h:outputText value=" #{comment.getDuration().toMinutes()} " /> min ago
                        </p>
                      </div>
                    </div>
                    <p>
                      <h:outputText value="#{comment.message}" />
                    </p>
                  </div>
                </div>
                </ui:repeat>
              </div>
            </div>
            <br /> <br />
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading panel-collapse-trigger">
                <h4 class="panel-title">
                  My Account
                </h4>
              </div>
              <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                  <li class="list-group-item">
                    <a class="link-text-color"
                    href="website-student-dashboard.html">Dashboard</a>
                  </li>
                  <li class="list-group-item">
                    <a class="link-text-color"
                    href="website-student-courses.html">My Courses</a>
                  </li>
                  <li class="list-group-item">
                    <a class="link-text-color"
                    href="website-student-profile.html">Profile</a>
                  </li>
                  <li class="list-group-item active">
                    <a class="link-text-color"
                    href="website-student-messages.html">Messages</a>
                  </li>
                  <li class="list-group-item">
                    <a class="link-text-color" href="login.html"><span>Logout</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </ui:define>
    </ui:composition>
</html>
