<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition
	template="/views/learning-1.1.0/html/website-student-layout.xhtml">
	<ui:define name="pageContent">
    <div class="container">
      <div class="page-section">
        <div class="row">
          <div class="col-md-9">
            <div class="media messages-container media-clearfix-xs-min media-grid">
              <div class="media-left">
                <div class="messages-list">
                  <div class="panel panel-default paper-shadow">
                  <ul class="list-group">
                    <h:dataTable value="#{studentView.contacts}" var="u" border="1">
						<h:column>
						<f:facet name="header" class="list-group">Utilisateurs connectés</f:facet>
						<a href="#"> </a>
                        <div class="media v-middle">
                          <div class="media-left">
                            <img src="images/people/110/woman-#{u.id}.jpg" width="50"
                            alt="" class="media-object" />
                          </div>
                          <div class="media-body">
                            <span class="date">#{messageBean.lastMessageBySender(u).sendDate}</span> <span class="user">#{u.firstName}
                            #{u.lastName}</span>
                            <div class="text-light">	
                              #{messageBean.lastMessageBySender(u).content}
                            </div>
                             <div class="text-light">
                              	<h:form> 
								   <h:commandButton value="Contact" actionListener="#{studentView.contacter(u.id)}">
								       <f:ajax render="outputMessage" />
								   </h:commandButton>
							    </h:form>
                            </div>
                          </div>
                        </div>
						</h:column>						 	
					</h:dataTable>
					</ul>
                    <!--<ul class="list-group">
                    
                      <li class="list-group-item active">
                        <a href="#"> </a>
                        <div class="media v-middle">
                          <div class="media-left">
                            <img src="images/people/110/woman-5.jpg" width="50"
                            alt="" class="media-object" />
                          </div>
                          <div class="media-body">
                            <span class="date">Today</span> <span class="user">Samantha
                            Michael</span>
                            <div class="text-light">
                              Are we ok to meet...
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <a href="#"> </a>
                        <div class="media v-middle">
                          <div class="media-left">
                            <img src="images/people/110/guy-3.jpg" height="50"
                            alt="" class="media-object" />
                          </div>
                          <div class="media-body">
                            <span class="date">Sat</span> <span class="user">Adrian
                            Demian.</span>
                            <div class="text-light">
                              Looking forward to...
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <a href="#"> </a>
                        <div class="media v-middle">
                          <div class="media-left">
                            <img src="images/people/110/woman-4.jpg" width="50"
                            alt="" class="media-object" />
                          </div>
                          <div class="media-body">
                            <span class="date">5 days</span> <span class="user">Michelle
                            Anister</span>
                            <div class="text-light">
                              Nice design.
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <a href="#"> </a>
                        <div class="media v-middle">
                          <div class="media-left">
                            <img src="images/people/110/woman-3.jpg" height="50"
                            alt="" class="media-object" />
                          </div>
                          <div class="media-body">
                            <span class="date">Sat</span> <span class="user">Sue
                            Tallbot</span>
                            <div class="text-light">
                              Looking forward to...
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <a href="#"> </a>
                        <div class="media v-middle">
                          <div class="media-left">
                            <img src="images/people/110/guy-9.jpg" height="50"
                            alt="" class="media-object" />
                          </div>
                          <div class="media-body">
                            <span class="date">Sat</span> <span class="user">Andy
                            Smith</span>
                            <div class="text-light">
                              Looking forward to...
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <a href="#"> </a>
                        <div class="media v-middle">
                          <div class="media-left">
                            <img src="images/people/110/woman-9.jpg" height="50"
                            alt="" class="media-object" />
                          </div>
                          <div class="media-body">
                            <span class="date">Sat</span> <span class="user">Jeniffer
                            Doe</span>
                            <div class="text-light">
                              Looking forward to...
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <a href="#"> </a>
                        <div class="media v-middle">
                          <div class="media-left">
                            <img src="images/people/110/guy-6.jpg" height="50"
                            alt="" class="media-object" />
                          </div>
                          <div class="media-body">
                            <span class="date">Sat</span> <span class="user">Jimmy
                            Joe</span>
                            <div class="text-light">
                              Looking forward to...
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <a href="#"> </a>
                        <div class="media v-middle">
                          <div class="media-left">
                            <img src="images/people/110/guy-2.jpg" height="50"
                            alt="" class="media-object" />
                          </div>
                          <div class="media-body">
                            <span class="date">Sat</span> <span class="user">Chris
                            Name</span>
                            <div class="text-light">
                              Looking forward to...
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>-->
                  </div>
                </div>
              </div>
              <div class="media-body">
                <div class="form-group">
                  <div class="input-group">
                  		<h:form>
		                    <div class="input-group-btn">
		                    <i class="fa fa-envelope"></i>
		                    <h:commandButton class="btn btn-primary" value="Send" actionListener="#{messageBean.send()}">
							</h:commandButton>
		                     <!--   <a class="btn btn-primary" href="#"> <i
		                      class="fa fa-envelope"></i> Send </a>-->

		                    </div>
                   		    <!-- /btn-group -->
                            <h:inputText class="form-control share-text" value="#{messageBean.messageBody}" />
                            <!--<input type="text" class="form-control share-text" />-->
                       </h:form>
                  </div>
                  <!-- /input-group -->
                </div>
               
               <h:outputText id="outputMessage" escape="false" value="#{messageBean.listMessage()}"/>
               
               <!--<div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media v-middle">
                      <div class="media-left">
                        <img src="images/people/110/woman-5.jpg" alt="person"
                        class="media-object img-circle width-50" />
                      </div>
                      <div class="media-body message">
                        <h4 class="text-subhead margin-none">
                          <a href="#">Samantha Michael</a>
                        </h4>
                        <p class="text-caption text-light">
                          <i class="fa fa-clock-o"></i> 2 min ago
                        </p>
                      </div>
                    </div>
                    <p>
                      Is 4pm ok?
                    </p>
                  </div>
                </div>
                <div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media v-middle">
                      <div class="media-left">
                        <img src="images/people/110/guy-5.jpg" alt="person"
                        class="media-object img-circle width-50" />
                      </div>
                      <div class="media-body message">
                        <h4 class="text-subhead margin-none">
                          <a href="#">Adrian Demian</a>
                        </h4>
                        <p class="text-caption text-light">
                          <i class="fa fa-clock-o"></i> 15 hrs ago
                        </p>
                      </div>
                    </div>
                    <p>
                      Hi Samantha
                    </p>
                    <p>
                      Sure, Tomorrow is great.. What time?
                    </p>
                  </div>
                </div>
                <div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media v-middle">
                      <div class="media-left">
                        <img src="images/people/110/woman-5.jpg" alt="person"
                        class="media-object img-circle width-50" />
                      </div>
                      <div class="media-body message">
                        <h4 class="text-subhead margin-none">
                          <a href="#">Samantha Michael</a>
                        </h4>
                        <p class="text-caption text-light">
                          <i class="fa fa-clock-o"></i> 1 day ago
                        </p>
                      </div>
                    </div>
                    <p>
                      Sure.
                    </p>
                    <p>
                      Is Tomorrow ok to discuss?
                    </p>
                  </div>
                </div>
                <div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media v-middle">
                      <div class="media-left">
                        <img src="images/people/110/guy-5.jpg" alt="person"
                        class="media-object img-circle width-50" />
                      </div>
                      <div class="media-body message">
                        <h4 class="text-subhead margin-none">
                          <a href="#">Adrian Demian</a>
                        </h4>
                        <p class="text-caption text-light">
                          <i class="fa fa-clock-o"></i> 2 days ago
                        </p>
                      </div>
                    </div>
                    <p>
                      Can we arrange a Skype call?
                    </p>
                  </div>
                </div>-->
              </div>
            </div>
            <br /> <br />
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading panel-collapse-trigger">
                <h4 class="panel-title">
                  My Account
                </h4>
              </div>
              <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                  <li class="list-group-item">
                    <a class="link-text-color"
                    href="website-student-dashboard.html">Dashboard</a>
                  </li>
                  <li class="list-group-item">
                    <a class="link-text-color"
                    href="website-student-courses.html">My Courses</a>
                  </li>
                  <li class="list-group-item">
                    <a class="link-text-color"
                    href="website-student-profile.html">Profile</a>
                  </li>
                  <li class="list-group-item active">
                    <a class="link-text-color"
                    href="website-student-messages.html">Messages</a>
                  </li>
                  <li class="list-group-item">
                    <a class="link-text-color" href="login.html"><span>Logout</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <h4>
              Featured
            </h4>
            <div class="slick-basic slick-slider">
              <div class="item">
                <div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media media-clearfix-xs">
                      <div class="media-left">
                        <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                          <span class="img icon-block s90 bg-default"></span>
                          <span
                          class="overlay overlay-full padding-none icon-block s90 bg-default">
                          <span class="v-center"> <i class="fa fa-github"></i>
                          </span> </span> <a href="website-course.html"
                          class="overlay overlay-full overlay-hover overlay-bg-white">
                          <span class="v-center"> <span
                          class="btn btn-circle btn-white btn-lg"><i
                          class="fa fa-graduation-cap"></i></span> </span> </a>
                        </div>

                      </div>
                      <div class="media-body">
                        <h4 class="media-heading margin-v-5-3">
                          <a href="website-course.html">Github Webhooks for
                          Beginners</a>
                        </h4>
                        <p class="small margin-none">
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media media-clearfix-xs">
                      <div class="media-left">
                        <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                          <span class="img icon-block s90 bg-primary"></span>
                          <span
                          class="overlay overlay-full padding-none icon-block s90 bg-primary">
                          <span class="v-center"> <i class="fa fa-css3"></i>
                          </span> </span> <a href="website-course.html"
                          class="overlay overlay-full overlay-hover overlay-bg-white">
                          <span class="v-center"> <span
                          class="btn btn-circle btn-primary btn-lg"><i
                          class="fa fa-graduation-cap"></i></span> </span> </a>
                        </div>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading margin-v-5-3">
                          <a href="website-course.html">Awesome CSS with LESS
                          Processing</a>
                        </h4>
                        <p class="small margin-none">
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media media-clearfix-xs">
                      <div class="media-left">
                        <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                          <span class="img icon-block s90 bg-lightred"></span>
                          <span
                          class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                          <span class="v-center"> <i class="fa fa-windows"></i>
                          </span> </span> <a href="website-course.html"
                          class="overlay overlay-full overlay-hover overlay-bg-white">
                          <span class="v-center"> <span
                          class="btn btn-circle btn-red-500 btn-lg"><i
                          class="fa fa-graduation-cap"></i></span> </span> </a>
                        </div>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading margin-v-5-3">
                          <a href="website-course.html">Portable Environments
                          with Vagrant</a>
                        </h4>
                        <p class="small margin-none">
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media media-clearfix-xs">
                      <div class="media-left">
                        <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                          <span class="img icon-block s90 bg-brown"></span>
                          <span
                          class="overlay overlay-full padding-none icon-block s90 bg-brown">
                          <span class="v-center"> <i class="fa fa-wordpress"></i>
                          </span> </span> <a href="website-course.html"
                          class="overlay overlay-full overlay-hover overlay-bg-white">
                          <span class="v-center"> <span
                          class="btn btn-circle btn-orange-500 btn-lg"><i
                          class="fa fa-graduation-cap"></i></span> </span> </a>
                        </div>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading margin-v-5-3">
                          <a href="website-course.html">WordPress Theme
                          Development</a>
                        </h4>
                        <p class="small margin-none">
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media media-clearfix-xs">
                      <div class="media-left">
                        <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                          <span class="img icon-block s90 bg-purple"></span>
                          <span
                          class="overlay overlay-full padding-none icon-block s90 bg-purple">
                          <span class="v-center"> <i class="fa fa-jsfiddle"></i>
                          </span> </span> <a href="website-course.html"
                          class="overlay overlay-full overlay-hover overlay-bg-white">
                          <span class="v-center"> <span
                          class="btn btn-circle btn-purple-500 btn-lg"><i
                          class="fa fa-graduation-cap"></i></span> </span> </a>
                        </div>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading margin-v-5-3">
                          <a href="website-course.html">Modular JavaScript with
                          Browserify</a>
                        </h4>
                        <p class="small margin-none">
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="panel panel-default paper-shadow">
                  <div class="panel-body">
                    <div class="media media-clearfix-xs">
                      <div class="media-left">
                        <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                          <span class="img icon-block s90 bg-default"></span>
                          <span
                          class="overlay overlay-full padding-none icon-block s90 bg-default">
                          <span class="v-center"> <i class="fa fa-cc-visa"></i>
                          </span> </span> <a href="website-course.html"
                          class="overlay overlay-full overlay-hover overlay-bg-white">
                          <span class="v-center"> <span
                          class="btn btn-circle btn-white btn-lg"><i
                          class="fa fa-graduation-cap"></i></span> </span> </a>
                        </div>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading margin-v-5-3">
                          <a href="website-course.html">Easy Online Payments
                          with Stripe</a>
                        </h4>
                        <p class="small margin-none">
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                          <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </ui:define>
    </ui:composition>
</html>
