<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http:// xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/views/learning-1.1.0/html/website-student-layout.xhtml">
<ui:define name="pageContent">
   <div class="container">
     <div class="page-section">
       <div class="row">
         <div class="col-md-9">
           <!-- Tabbable Widget -->
           <div class="tabbable paper-shadow relative">
             <!-- Tabs -->
             <ul class="nav nav-tabs">
               <li class="active">
                 <a href="website-student-profile.html"><i
                 class="fa fa-fw fa-lock"></i> <span class="hidden-sm hidden-xs">Manage
                 Account</span></a>
               </li>
               <li>
                 <a href="website-student-billing.html"><i
                 class="fa fa-fw fa-credit-card"></i> <span
                 class="hidden-sm hidden-xs">Billing Details</span></a>
               </li>
             </ul>
             <!-- // END Tabs -->
             <!-- Panes -->
             <div class="tab-content">
               <div id="account" class="tab-pane active">
                 <h:form class="form-horizontal" action="" enctype="multipart/form-data">
                   <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label">Avatar</label>
                     <div class="col-md-6">
                       <div class="media v-middle">
                         <div class="media-left">
                           <div class="icon-block width-100 bg-grey-100">
                             <i class="fa fa-photo text-light"></i>
                           </div>
                         </div>
                         <div class="media-body">
                           <p:growl id="messages" showDetail="true" />
                           <p:fileUpload value="#{fileUploadView.file}" auto="true" mode="simple" skinSimple="true"/>
                           <p:commandButton class="btn btn-white btn-sm paper-shadow relative" value="Submit" ajax="false"
                           actionListener="#{fileUploadView.upload}" disabled="false" />
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="form-group">
                     <label for="inputEmail3" class="col-md-2 control-label">Full
                     Name</label>
                     <div class="col-md-8">
                       <div class="row">
                         <div class="col-md-6">
                           <div class="form-control-material">
                           <h:inputText value="#{studentView.student.firstName}" class="form-control"
                           id="exampleInputFirstName" /> <label for="exampleInputFirstName">First name</label>
                           </div>
                         </div>
                         <div class="col-md-6">
                           <div class="form-control-material">
                           <h:inputText value="#{studentView.student.lastName}" class="form-control"
                           id="exampleInputLastName" /> <label
                             for="exampleInputLastName">Last name</label>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="form-group">
                     <label for="inputEmail3" class="col-md-2 control-label">Email</label>
                     <div class="col-md-6">
                       <div class="form-control-material">
                         <div class="input-group">
                           <span class="input-group-addon"><i
                           class="fa fa-envelope"></i></span>
                           <h:inputText value="#{studentView.student.email}"
                           class="form-control" id="inputEmail3" /> <label
                           for="inputEmail3">Email address</label>
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="form-group">
                     <label for="inputEmail3" class="col-md-2 control-label">Website</label>
                     <div class="col-md-6">
                       <div class="form-control-material">
                         <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-link"></i></span>
                           <input type="text" class="form-control used"
                           id="website" value="" /> <label
                           for="website">Website</label>
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="form-group">
                     <label for="inputPassword3" class="col-md-2 control-label">Change
                     Password</label>
                     <div class="col-md-6">
                       <div class="form-control-material">
                       	<h:inputSecret value="#{studentView.student.password}" class="form-control"
                         id="inputPassword3" required="true" redisplay="true"/> <label for="inputPassword3">Password</label>
                       </div>
                     </div>
                   </div>
                   <div class="form-group margin-none">
                     <div class="col-md-offset-2 col-md-10">
                       <button type="submit"
                       class="btn btn-primary paper-shadow relative" pt:action="#{studentView.saveChanges()}">Save
                       Changes</button>
                     </div>
                   </div>
                 </h:form>
               </div>
             </div>
             <!-- // END Panes -->
           </div>
           <!-- // END Tabbable Widget -->
           <br /> <br />
         </div>
         <div class="col-md-3">
           <div class="panel panel-default">
             <div class="panel-heading panel-collapse-trigger">
               <h4 class="panel-title">
                 My Account
               </h4>
             </div>
             <div class="panel-body list-group">
               <ul class="list-group list-group-menu">
                 <li class="list-group-item">
                   <a class="link-text-color"
                   href="website-student-dashboard.html">Dashboard</a>
                 </li>
                 <li class="list-group-item">
                   <a class="link-text-color"
                   href="website-student-courses.html">My Courses</a>
                 </li>
                 <li class="list-group-item active">
                   <a class="link-text-color"
                   href="website-student-profile.html">Profile</a>
                 </li>
                 <li class="list-group-item">
                   <a class="link-text-color"
                   href="website-student-messages.html">Messages</a>
                 </li>
                 <li class="list-group-item">
                   <a class="link-text-color" href="login.html"><span>Logout</span></a>
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   </ui:define>
   </ui:composition>
</html>